<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="File" 
            xsi:type="File" 
            fileName="${basedir}/ErrorLog/${shortdate}/${logger}.txt"/>
    <target name="ErrorFile"
            xsi:type="File"
            fileName="${basedir}/ErrorLog/ErrorLog_${shortdate}.txt"
            layout="發生時間：${longdate}${newline}類別：${logger}${newline}訊息：${message}${newline}方法：${stacktrace:format=DetailedFlat}${newline}例外堆疊：${exception:format=ToString}${newline}=============================================================" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="File" />
    <logger name="*" level="Error" writeTo="ErrorFile" />
  </rules>
  
</nlog>
