<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
  <!--AJAX元件簽名-->
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="HTMLEditorProvider" type="SeaburyDesign.HTMLEditorConfiguration, HTMLEditor" allowDefinition="MachineToApplication"/>
    <!--AJAX元件簽名-->
    <!--AJAX元件簽名-->
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="salaryConnectionString" connectionString="Data Source=172.16.30.138;Initial Catalog=IGOMDBT;Persist Security Info=True;User ID=kduser;Password=27152222" providerName="System.Data.SqlClient"/>
	<add name="meggiConnectionString" connectionString="Data Source=172.16.30.138;Initial Catalog=FA1;Persist Security Info=True;User ID=igssuser;Password=$igss@epa" providerName="System.Data.SqlClient" />
	<add name="dianaConnectionString" connectionString="Data Source=172.16.30.138;Initial Catalog=EASCDB;Persist Security Info=True;User ID=igssuser;Password=$igss@epa" providerName="System.Data.SqlClient" />
  </connectionStrings> 
  <appSettings>
    <add key="DBString" value="Persist Security Info=False;User ID=kduser;Password=27152222;database=IGOMDBT;server=172.16.30.138;Connection Timeout=1800;"/>
    <!--<add key="DBString" value="Persist Security Info=False;User ID=sa;Password=1qaz2wsx;database=IGOMDBT;server=127.0.0.1;Connection Timeout=1800;"/>-->
    <add key="ShowErrorMode" value="On"/>
    <add key="FileuploadPath" value="/IGOM/fileupload/Attachment/"/>
    <add key="FCKeditor:UserFilesPath" value="/IGOM/fileupload/"/>
    <add key="LogFilePath" value="~/ErrorLog"/>
    
    <add key="ImpSalaryLogFilePath" value="~/ImportLog/FSC/ImpSalary/"/>
    <add key="ImpPHdataLogPath" value="~/ImportLog/FSC/ImpPHdata/"/>
    <add key="ImpSchedulingLogPath" value="~/ImportLog/ImpSchedulingLogPath/"/>

    <!--刷卡轉出勤-->
    <add key="PKReportPath" value="\ImportLog\FSC\PKReport\"/>    
    <add key="PHtoPKOrgs" value="355000000I"/>
    
    <!-- Mail 設定 -->
    <add key="SysMail" value="epakdmail@gmail.com"/>
    <add key="SysName" value="整合性總務作業管理資訊系統"/>
    <add key="isSSL" value="true"/>
    
    <add key="attsize" value="2048"/>
    <add key="attkind" value="doc|xls|ppt|docx|xlsx|pptx|txt|pdf|zip|rar|jpg|png|bmp"/>
    <add key="atttip" value="※上傳的檔案大小上限為{0}MB({1}kbytes)，副檔名應為{2}。"/>
    
    <!--IGOM:環保署-->
    <add key="OrgType" value="IGOM"/>
    
    <!--設定上下班刷卡緩衝時間-->
    <add key="BeginFlexMin" value="20"/>
    <add key="EndFlexMin" value="30"/>

    <!--預設的彈性班時間-->
    <add key="FLEXSTIMEB" value="0800"/>
    <add key="FLEXSTIMEE" value="0900"/>
    <add key="FLEXETIMEB" value="1700"/>
    <add key="FLEXETIMEE" value="1800"/>
    <add key="FLEXNOONTIMEB" value="1200"/>
    <add key="FLEXNOONTIMEE" value="1400"/>
    
    <!--刷卡資料讀取路徑-->
    <add key="CardPath" value="~/PHCARD/"/>
    <add key="CardLog" value="~/PHCARD/LOG"/>

    <!--登入方式-->
    <!--<add key="fromAD" value="1"/>-->
    
    <!--人員資料同步-->
    <add key="DBString_Synchronous01" value="Persist Security Info=False;User ID=kduser;Password=27152222;database=CPA5;server=172.16.30.138;Connection Timeout=1800;"/>
    <add key="DBString_Synchronous02" value="Persist Security Info=False;User ID=kduser;Password=27152222;database=CPA5;server=172.16.30.138;Connection Timeout=1800;"/>
    <add key="DBString_Synchronous03" value="Persist Security Info=False;User ID=kduser;Password=27152222;database=CPA5;server=172.16.30.138;Connection Timeout=1800;"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="PaperForm" value="~/fileupload/PaperForm/"/>

	<add key="DES_KEY" value="123456789012345678901234"/>
  </appSettings>
  <quartz>
    <!-- configure Thread Pool -->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <!-- configure Job Store -->
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <!-- configure scheduler -->
    <add key="quartz.scheduler.instanceName" value="MSMQScheduler" />
    <!-- configure jobs and triggers definition -->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />
    <add key="quartz.plugin.xml.scanInterval" value="10" />
  </quartz>
  <HTMLEditorProvider defaultProvider="FCKEditorHTMLProvider">
    <providers>
      <!--
        <add name="TextboxHTMLProvider" type="MyCompany1.TextboxHTMLEditorProvider, TextboxHTMLProvider" Height="600" width="800"/>
          <add name="FreeTextBoxHTMLProvider" type="MyCompany2.FreeTextBoxHTMLProvider, FreeTextBoxHTMLProvider" Height="600" width="800"/>
        -->
      <add name="FCKEditorHTMLProvider" type="MyCompany3.FCKEditorHTMLProvider, FCKEditorHTMLProvider" Height="600" width="800"/>
    </providers>
  </HTMLEditorProvider>
  <system.web>
    <pages>
      <controls>
        <add tagName="Ucpager" tagPrefix="uc1" src="~/UControl/UcPager.ascx"/>
        <add tagName="utl_FileUpload" tagPrefix="uc1" src="~/UControl/utl_FileUpload.ascx"/>
        <add tagName="UcFunctionInfod" tagPrefix="uc1" src="~/UControl/UcFunctionInfo.ascx"/>
        <add tagName="UcSystemManageInterface" tagPrefix="uc1" src="~/UControl/UcSystemManageInterface.ascx"/>
        <add tagName="UcExport" tagPrefix="uc1" src="~/UControl/UcExport.ascx"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
    <compilation debug="true" >
      <codeSubDirectories>
        <add directoryName="VB"/>
        <add directoryName="CSharp"/>
      </codeSubDirectories>
      <assemblies>
        <!--AJAX元件簽名-->
        <!--AJAX元件簽名-->
        <add assembly="Microsoft.Vbe.Interop, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <!--for 產發會 AD驗證-->
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<httpHandlers>
        -->
    <!--AJAX元件簽名-->
    <!--
        -->
    <!--AJAX元件簽名-->
    <!--
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      </httpHandlers>
      <httpModules>
        -->
    <!--AJAX元件簽名-->
    <!--
        -->
    <!--AJAX元件簽名-->
    <!--
      </httpModules>-->
    <httpHandlers>
      <!--AJAX元件簽名-->
      <!--AJAX元件簽名-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <!--AJAX元件簽名-->
      <!--AJAX元件簽名-->
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <!--<authentication> 區段可以用來設定 ASP.NET 使用的安全性驗證模式，以識別連入的使用者。-->
    <authentication mode="Forms">
      <forms timeout="60" defaultUrl="Login.aspx" loginUrl="Login.aspx"/>
    </authentication>
    <!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁， 
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime executionTimeout="3600" maxRequestLength="1000000" useFullyQualifiedRedirectUrl="false"/>
    <!--<identity impersonate="true" userName="kduser-1" password="kassyco"/>-->
    <identity impersonate="true"/>
  </system.web>
  <!--==================Mail Server 設定區段================-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="epakdmail@gmail.com" password="!QAZ@WSX"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmpDepartEmpSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="EmpMemberSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/IGOM/WebService/EmpDepartEmp.asmx" binding="basicHttpBinding" bindingConfiguration="EmpDepartEmpSoap" contract="EmpDepartEmpService.EmpDepartEmpSoap" name="EmpDepartEmpSoap"/>
      <endpoint address="http://localhost/IGOM/WebService/EmpMember.asmx" binding="basicHttpBinding" bindingConfiguration="EmpMemberSoap" contract="EmpMemberService.EmpMemberSoap" name="EmpMemberSoap"/>
    </client>
  </system.serviceModel>
  
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

</configuration>